@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #000;
}

header {
    background-color: #000;
    box-shadow: 0px 3px 10px #3a3837;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: auto;
    height: auto;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-ul {
    display: flex;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #ffffff;
    font-weight: 500;
}

.nav-link:hover {
    color: #1CDAFF;
}

.main {
    margin-top: 48px;
    color: #ffffff;
    max-width: 98%;
    padding-top: 20px;
    margin: 0 auto;
}

.main h1 {
    font-size: 54px;
    text-align: center;
    color: #78e1f7;
}

.main h2 {
    font-size: 35px;
    text-align: center;
}

.services {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
    margin-bottom: 16px;
}

.cards {
    position: relative;
    width: 260px;
    height: 170px;
    overflow: visible;
    border-radius: 8px;
    background-color: #17181d;
    color: white;
}

.cards span {
    padding: 26px;
    position: absolute;
    font-size: 28px;
    font-weight: 700;
}

card:link{
    color: white;
}

.cards:hover {
    background-color: #78e1f7;
    color: #17181d;
    transition: 600ms;
}

a { color: inherit; } 

.sectionmais {
    margin-top: 2%;
    text-align: center;
    color: white;
    font-size: 25px;
}

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    transition: all .15s ease;
}

.button::before,
.button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
}

.button::before {
    top: 0;
    border-bottom-width: 0;
}

.button::after {
    bottom: 0;
    border-top-width: 0;
}

.button:active,
.button:focus {
    outline: none;
}

.button:active::before,
.button:active::after {
    right: 3px;
    left: 3px;
}

.button:active::before {
    top: 3px;
}

.button:active::after {
    bottom: 3px;
}

.button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
}

.button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
}

.button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #78e1f7;
    transform: skew(-15deg);
    transition: all .2s ease;
}

.button_text {
    position: relative;
}

.button:hover {
    color: #0f1923;
}

.button:hover .button_sl {
    width: calc(100% + 15px);
}

.button:hover .button_lg::after {
    background-color: #fff;
}

img {
    width: 100%;
    height: 450px;
}

.faq-container {
    background-color: #17181d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 95%;
}

.resposta {
    color: #1CDAFF;
}


h1 {
    text-align: center;
    color: #1CDAFF;
}

details {
    margin-bottom: 18px;
}

summary {
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

summary::marker {
    color: #1CDAFF;
}

summary:hover {
    text-decoration: underline;
}

p {
    margin: 10px 0;
    padding-left: 20px;
    color: white;
    font-size: 20px;
}